<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/won</string>
		<key>PATH</key>
		<string>/Users/won/.bun/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.oxi-master-report</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/won/.bun/bin/omp</string>
		<string>--model</string>
		<string>zai/glm-5.2</string>
		<string>--auto-approve</string>
		<string>-p</string>
		<string>@.omp/auto-master-report-2026-07-31.md</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/oxi-master-report.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/oxi-master-report.stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Volumes/MERCURY/PROJECTS/oxinot</string>
</dict>
</plist>
